@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#cabeza{
    color: white;
}
#inicio {
 background-color: rgb(187, 185, 185);
 box-shadow: 0px 0px 15px 0px rgb(187, 185, 185);  
 max-width: 600px;
 min-width: 330px;
 height: auto;
 align-items: center;
position: absolute;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

.cuadrados{
    color: white;
    background-color: black;
    border: 1px solid gray;
    height: 15vw;
    width: 15vw; 
  color: white;
  padding: 0vw 3vw;
  text-align: center;
  text-decoration: strong;
  display: inline-block;
  font-size: 10vw;
  cursor: pointer;
  font-weight: 1000;
}



#estado{
    color: white;
    font-size: 18px;
   
}
